<% if(errorMessage != '') { %>
  <p><%= errorMessage %></p>
<% } %>
<div class="container edit-form">
  <form action="/profile/edit" method="POST" class="col-sm-10 col-sm-offset-1" enctype="multipart/form-data">
    <div class="input form-group col-xs-12">
      <label for="name">Name</label><br>
      <input type="text" class="form-control" name="name" value='<%= user.name %>'>
    </div>
    <div class="input form-group col-xs-12">
      <label for="photo">Profile Picture</label>
      <input type="file" class="btn-file" name="photo">
    </div>
    <div class="input">
      <input id="h-city" type="hidden" name="city" value="<%=user.location.city%>">
      <input id="lat" type="hidden" name="lat" value="<%=user.location.lat%>">
      <input id="lng" type="hidden" name="lng" value="<%=user.location.lng%>">
    </div>
    <div class="gglmap">
      <input id="pac-input" class="controls" type="text" value="<%=user.location.city%>" placeholder="Search Box">
      <div id="map"></div>
    </div>
    <br><br>
    <button class="col-xs-offset-4 col-xs-4 btn btn-success btn-lg">Edit</button>
  </form>
</div>

<script type="text/javascript" src="/javascripts/mapmark.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfl8r72Mtkm-4ZX27CKFWxVMD79n6ZW8M&libraries=places&callback=initAutocomplete"></script>
