<h2>My Bonsais</h2>
<% user.bonArray.forEach( e => { %>
  <div class="bonsai">
    <h4><%= e.name %></h4>
    <img src="/uploads/<%= e.photo %>" alt="">
    <p><b>Sprecies: </b><%= e.species %></p>
    <p><b>Age: </b><%= e.age %></p>
      <a href="/bonsai/collection/<%=e._id%>"><button>View Details</button></a>
  </div>
<% }); %>
