<div class="container">
  <p><b>Name: </b> <%= bonsai.name%></p><br>
  <% if(bonsai.photo == 'bonsaiFiller.png'){ %>
    <img src="/images/<%=bonsai.photo%>" alt="user-bonsai-photo" height="300px">
  <%} else {%>
    <img src="/uploads/<%=bonsai.photo%>" alt="user-bonsai-photo" height="300px">
  <% } %>
</div>

<div class="container">
  <p><b>Specie: </b> <%= bonsai.specie%></p><br>
  <p><b>Scientific-Name: </b> <%= bonsai.scientific_name%></p><br>
  <p><b>Age: </b> <%= bonsai.age%></p><br>
  <p><b>Description: </b> <%= bonsai.description%></p><br>
  <p><b>Weather: </b> <%= bonsai.weather%></p><br>
  <p><b>Temperature: </b> <%= bonsai.temperature%></p><br>
  <p><b>Watering: </b> <%= bonsai.watering%></p><br>
  <p><b>Substratum: </b> <%= bonsai.substratum%></p><br>
</div>
<div class="">
  <h2>Maintenances:</h2>
  <% bonsai.maintenances.forEach( maintenance => { %>
    <p><b><%= maintenance.date.toString().substring(4, 15)%> - <%= maintenance.type%></b></p>
    <% if(maintenance.photo == 'workFiller.png'){ %>
      <img src="/images/<%=maintenance.photo%>" alt="user-bonsai-photo" height="300px">
    <%} else {%>
      <img src="/uploads/<%=maintenance.photo%>" alt="user-bonsai-photo" height="300px">
    <% } %>
    <p><b><%= maintenance.description%></b></p>
    <% if(maintenance.periodicity == 0){ %>
      <p>Repeat this work when your little tree needs it</p>
    <%} else {%>
      <p>Repeat this work in: <%= maintenance.periodicity%> months</p>
    <% } %>
  <% }); %>
</div>



<a href="/bonsai/maintenance/<%=bonsai._id%>"><button>Add new maintenance</button></a>
